@import "open-props/style";

@import "open-props/normalize";
@import "open-props/buttons";

@import "open-props/normalize/dark";
@import "open-props/buttons/dark";
@import "open-props/normalize/light";
@import "open-props/buttons/light";

@import "open-props/indigo";
@import "open-props/easings";
@import "open-props/animations";
@import "open-props/sizes";
@import "open-props/gradients";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  background-image: var(--gradient-5);

  @media (--OSdark) {
    background-image: var(--gradient-15);
  }
}

.colored {
  background-image: var(--gradient-26);

  @media (--OSdark) {
    background-image: var(--gradient-15);
  }
}
.noise-noise-noise {
  /* stack grain with a gradient */
  background-image: var(--gradient-3), var(--noise-3);
  /* force colors and noise to collide */
  filter: var(--noise-filter-3);
  /* fit noise image to element */
  background-size: cover;
}
